@font-face {
    font-family: 'Helvetica Now Text';
    src: url('fonts/helveticanowtext-bold-demo.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('fonts/helveticanowtext-bolditalic-demo.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('fonts/helveticanowtext-black-demo.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('fonts/helveticanowtext-blackitalic-demo.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hover-button-color: #b2155a;
    --clicked-button-color: #cc1b6a;
}

body {
    font-family: Roboto, serif;
    min-height: 300vh;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: radial-gradient(rgba(0, 0, 0, 0.1) 0.8px, rgba(255, 255, 255, 0.1) 0.8px);
    background-size: 16px 16px;
    background-position: 0 0;
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

h1 {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    margin-bottom: 50px;
    user-select: none;
}

.icon.nav-icon {
    display: none;
}

.navbar {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 8px 40px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    max-width: 1500px;
    width: 95%;
    z-index: 1000;
}

.navbar-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
}

.navbar-links a {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
}

.navbar-links a:hover {
    color: var(--hover-button-color);
}

.navbar-links a.active {
    transform: scale(2);
    color: var(--clicked-button-color);

}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 45px;
    width: auto;
    user-select: none;

}

.logo a {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
    color: #333;
    transition: color 0.5s ease-in-out;
    text-align: center;
    user-select: none;

}

.logo a:hover {
    color: var(--hover-button-color);
}

.category {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
}

.category.tall {
    min-height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
}

.category-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.category-container p {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
}

html {
    scroll-behavior: smooth;
}

.welcomeText {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.welcomeText h1 {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    text-align: left !important;
    margin-bottom: 10px;
    white-space: nowrap;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: color 0.85s ease-in-out;
    color: #000000;
}

.welcomeText h1:hover {
    color: var(--hover-button-color);
}

.welcomeText .subtitle {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    color: #000000;
    margin-top: 70px;
    text-align: left !important;
    transition: color 0.85s ease-in-out;
    user-select: none;
}

.welcomeText .subtitle:hover {
    color: var(--hover-button-color);
}

.welcomeText .subtitle:hover .text-button {
    color: #000000;
}

.text-button:hover {
    color: #000000;
}

.text-button {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    background: none;
    border: none;
    color: var(--hover-button-color);
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: color 0.85s ease-in-out;
    user-select: none;
}

.category-container h1 {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    text-align: left !important;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.home-container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.portfolio-image {
    flex-shrink: 0;
}

.portfolio-image img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.85s ease-in-out;
    user-select: none;
}

.portfolio-image img:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 30px var(--hover-button-color);
}

.github-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    z-index: 1000;
    transition: transform 0.75s ease-in-out;
}

.github-logo:hover {
    transform: scale(1.1);
}


.github-logo img {
    width: 40px;
    height: 40px;
    user-select: none;

}

.contact {
    align-items: center;
    width: 80%;
}

.contact-info-panel {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
}

.contact-info-panel h1 {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    user-select: none;
    transition: color 0.85s ease-in-out;

}

.contact-info-panel h1:hover {
    color: var(--hover-button-color);
}

.contact-info-panel h2 {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    user-select: none;
    transition: color 0.85s ease-in-out;

}

.contact-info-panel h2:hover {
    color: var(--hover-button-color);
}

.contact-info-panel p {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    user-select: none;
    transition: color 0.85s ease-in-out;

}

.contact-info-panel p:hover {
    color: var(--hover-button-color);
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;

}

.contact-container p {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 20;
    font-size: 30px;
}

.input-field {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border-radius: 20px;
    width: 400px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    color: #333;
    transition: all 0.5s ease-in-out;
}

.input-field:hover {
    border-color: var(--hover-button-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.input-field:focus {
    outline: none;
    border-color: var(--hover-button-color);
    box-shadow: 0 0 0 3px rgba(178, 21, 90, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15);
}

.input-field::placeholder {
    color: rgba(51, 51, 51, 0.5);
    font-weight: 700;
}

.input-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #333;
    user-select: none;
    transition: color 0.5s ease-in-out;
}
.input-label:hover {
    color: var(--hover-button-color);
}

.input-field:focus {
    color: var(--hover-button-color);
}

.input-text-field {
    font-family: "Helvetica Now Text", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border-radius: 20px;
    width: 400px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    color: #333;
    transition: all 0.5s ease-in-out;
    vertical-align: top;
    resize: vertical;
    max-height: 500px;
}

.input-text-field:hover {
    border-color: var(--hover-button-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.input-text-field:focus {
    outline: none;
    border-color: var(--hover-button-color);
    box-shadow: 0 0 0 3px rgba(178, 21, 90, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15);
}

.input-text-field::placeholder {
    color: rgba(51, 51, 51, 0.5);
    font-weight: 700;
}


@media (max-width: 1150px) {
    .welcomeText h1 {
        font-size: 60px;
    }

    .portfolio-image img {
        width: 350px;
        height: 435px;
    }

    .category-container {
        padding: 0 35px;
    }
}

@media (max-width: 1000px) {

    .navbar {
        padding: 10px 20px;
        position: fixed;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo a {
        font-size: 22px;
    }

    .icon.nav-icon {
        display: block;
        margin-left: auto;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 10px;
        margin-top: 15px;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links a {
        font-size: 18px;
    }

    .logo img {
        height: 32px;
    }

    .home-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .welcomeText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .welcomeText h1 {
        font-size: 40px;
        text-align: left !important;
        white-space: normal;
        margin-bottom: 5px;
    }

    .welcomeText .subtitle {
        font-size: 20px;
        text-align: left;
        margin-top: 30px;
    }

    .text-button {
        font-size: 20px;
    }

    .portfolio-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .portfolio-image img {
        width: 280px;
        height: 350px;
    }

    .category {
        justify-content: center;
    }

    .category-container {
        padding: 0 20px;
        margin: 0 auto;
    }

    .category-container h1 {
        text-align: left !important;
        font-size: 45px;
    }

    .github-logo {
        width: 50px;
        height: 50px;
    }

    .github-logo img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 15px;
        width: 90%;
    }

    .logo a {
        font-size: 18px;
    }

    .navbar-links a {
        font-size: 16px;
    }

    .logo img {
        height: 28px;
    }

    .welcomeText h1 {
        font-size: 28px;
        white-space: nowrap;
    }

    .welcomeText .subtitle {
        font-size: 16px;
        margin-top: 20px;
    }

    .text-button {
        font-size: 16px;
    }

    .category-container h1 {
        font-size: 35px;
    }

    .portfolio-image img {
        width: 240px;
        height: 300px;
    }
}




